name: lint

on:
  workflow_call:
    inputs: 
      dev-image-name:
        required: true
        type: string
    secrets: {}

jobs:
  flake8:
    runs-on: ubuntu-latest
    container:
      image: ${{ inputs.dev-image-name }}:latest
    steps:
    - 
      uses: actions/checkout@v3
    - 
      name: Running YAMLlint
      run: flake8 pycli/
