on:
  push:
    branches:
      - wip
  pull_request:
    types: 
      - opened 
      - reopened
    branches:
      - wip
    paths:
      - pycli/

jobs:
  pylint:
    uses: ./.github/workflows/.pylint.yml