on:
  push:
    branches:
      - wip
    paths:
      - pycli/
      - tests/
  pull_request:
    types: 
      - opened 
      - reopened
    branches:
      - wip
    paths:
      - pycli/

jobs:
  lint:
    uses: ./.github/workflows/.lint.yml
    with:
      dev_image_name: ${{ vars.DEV_IMAGE_NAME }}
  test:
    uses: ./.github/workflows/.test.yml
    with:
      dev_image_name: ${{ vars.DEV_IMAGE_NAME }}
